# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.spec

# Virtual environment
.venv/
env/

# Environment variables
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage / testing
.coverage
htmlcov/

# Mypy / type checking
.mypy_cache/

# Pytest
.pytest_cache/

# Ruff / linters
.ruff_cache/

# Distribution metadata
*.egg
